/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px)and (max-width: 991px) {
    /* ... */
    html {
        margin: 20px;
        font-family: sans-serif;
        overflow-x: hidden;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    /*.alert-info hidden-on-desktop {*/
    /*}*/
    .hidden-on-desktop a {
        text-decoration: none;
        background-color: rgb(214, 254, 254);
        padding: 10px;
        border: 2px solid lightgrey;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    li {
        text-decoration: none;
        background-color: rgb(204, 204, 204);
        padding: 15px 47%;
        color: blue;
        /*margin-bottom: 10px;*/
        overflow: hidden;
        margin: 10px 0;

    }

    .header-img {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    li:nth-child(4) {
        text-decoration: none;
        background-color: rgb(204, 204, 204);
        padding: 15px 46.5%;
        color: blue;
        margin-bottom: 10px;
        overflow: hidden;
    }

    li:nth-child(3) {
        text-decoration: none;
        background-color: rgb(204, 204, 204);
        padding: 15px 47.5%;
        color: blue;
        margin-bottom: 10px;
        overflow: hidden;
    }

    .main {
        margin-left: 50px;
        margin-right: 50px;
    }

    .sub-section {
        margin-left: 50px;
        margin-right: 50px;
    }

    footer {
        margin-left: 47px;
    }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */
    html {
        margin: 20px;
        font-family: sans-serif;
        overflow-x: hidden;
    }

h1{
    /*display: flex;*/
    /*flex-direction: column-reverse;*/
    /*justify-content: left;*/
    font-size: 50px;
    display: inline-block;
}
nav{
    display: inline-block;
    float: right;
    margin-top: 55px;
}
    .nav-links{
        display: flex;
        flex-direction: row;
        justify-content: right;

    }
    li{
        margin-left:10px;
    }
    ul{
        list-style: none;

    }


}
.header-img img{
    height: auto;
    width: 100%;
}

section.main{
    display: inline-block;
    width: 65%;

}
section.sub-section{
    display: inline-block;
    width: 30%;
    float: right;
    font-style: italic;
    margin-top: 25px;
}

.main>h2{
    font-size: 35px;
}
.hidden-on-desktop{
    display: none;
}